@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #E9F8F9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}
.text-p {
    color: #1B9C85;
}
.bg-p {
    background-color: #1B9C85;
}
.text-s {
    color: #06283D;
}
.bg-s {
    background-color: #06283D;
}
.banner-toytopia {
    background: linear-gradient(to right, rgba(6, 40, 61, 1), rgba(0, 0, 0, 0.5)), url('./assets/images/banner-bg.jpg');
    background-position: center;
    background-size: cover;
}
label {
    cursor: pointer;
}